[submodule "common"]
	path = common
	url = https://github.com/tagdynamics-org/common.git
[submodule "backend/src/test/resources/testdata"]
	path = backend/src/test/resources/testdata
	url = https://github.com/tagdynamics-org/testdata.git
